<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.maru.mapper.notice.NoticeMapper">
 
 	<!-- 글 입력 -->
 	<insert id="insert" >
 	INSERT INTO notice (category, title, content, member_userId)
 	VALUES (#{category}, #{title}, #{content}, #{member_userId})
 	</insert>
 
 	<!-- 게시물 갯수 -->
 	<select id="countAll" resultType="int">
 	SELECT COUNT(*) FROM notice
 	WHERE
 		<trim prefixOverrides="OR">
	 		<if test="type == 'all' or type == 'title'">
	 		title LIKE #{keyword}
	 		</if>
	 		
	 		<if test="type == 'all' or type == 'content'">
	 		OR content LIKE #{keyword}
	 		</if>
 		</trim>
 	</select>
 	
 	<!-- 공지 목록 -->
 	<select id="list" resultType="com.maru.domain.notice.NoticeDto">
 	SELECT
 		number,
		title,
		insertDate
 	FROM
 		notice
 	WHERE
 		<if test="category != ''">
 		category = #{category} AND 
 		</if>
 		(
 		<trim prefixOverrides="OR">
	 		<if test="type == 'all' or type == 'title'">
	 		OR title LIKE #{keyword}
	 		</if>
	 		
	 		<if test="type == 'all' or type == 'content'">
	 		OR content LIKE #{keyword}
	 		</if>
 		</trim>
 		)
 	GROUP BY number	
 	ORDER BY number DESC
 	LIMIT #{offset}, #{records}
 	</select>
 	
 	<!-- 게시글 보기(get) -->
 	<select id="select" resultType="com.maru.domain.notice.NoticeDto">
 	SELECT
 		number,
 		category,
 		title,
 		content,
 		insertDate,
 		member_userId
 	FROM
 		notice
 	WHERE
 		number = #{number}
 	</select>
 	
 	<!-- 글 수정 -->
 	<update id="update">
 	UPDATE notice
 	SET
 		category = #{category},
 		title = #{title},
 		content = #{content}
 	WHERE
 		number = #{number}
 	</update>
 	
 	<!-- 글 삭제 -->
 	<delete id="delete">
 	DELETE FROM notice
 	WHERE number = #{number}
 	</delete>
 	
 </mapper>