<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.maru.mapper.book.BookMapper">
 
 	<!-- 예매 -->
 	<insert id="insert">
 	INSERT INTO book (member_userId, name, bookDate, bookTime, personnel)
 	VALUES (#{member_userId}, #{name}, #{bookDate}, #{bookTime}, #{personnel})
 	</insert>
 
 	<!-- 예매확인 -->
  	<select id="select" resultType="com.maru.domain.book.BookDto">
 	SELECT
 		number,
 		member_userId,
 		name,
 		bookDate,
 		bookTime,
 		personnel
 	FROM
 		book
 	WHERE
 		number = #{number}
 	</select>
 	
 	<!-- book 갯수 -->
 	<select id="countAll" resultType="int">
 	SELECT COUNT(*) FROM book
 	WHERE
 		<trim prefixOverrides="OR">
	 		<if test="type == 'all' or type == 'member_userId'">
	 		member_userId LIKE #{keyword}
	 		</if>
	 		
	 		<if test="type == 'all' or type == 'name'">
	 		OR name LIKE #{keyword}
	 		</if>

	 		<if test="type == 'all' or type == 'bookDate'">
	 		OR bookDate LIKE #{keyword}
	 		</if>
 		</trim>
 	</select>
 	
 	<!-- 전체 book 목록 -->
 	<select id="list" resultType="com.maru.domain.book.BookDto">
 	SELECT
 		number,
		member_userId,
		name,
		bookDate,
		bookTime,
 		personnel
 	FROM
 		book
 	WHERE
 		<trim prefixOverrides="OR">
	 		<if test="type == 'all' or type == 'member_userId'">
	 		OR member_userId LIKE #{keyword}
	 		</if>
	 		
	 		<if test="type == 'all' or type == 'name'">
	 		OR name LIKE #{keyword}
	 		</if>

	 		<if test="type == 'all' or type == 'bookDate'">
	 		OR bookDate LIKE #{keyword}
	 		</if>
 		</trim>
 	GROUP BY number	
 	ORDER BY number DESC
 	LIMIT #{offset}, #{records}
 	</select>
 	
 	<!--  내 예약 목록 -->
 	<select id="bookList" resultType="com.maru.domain.book.BookDto">
 	SELECT
 		number,
 		member_userId,
 		name,
 		bookDate,
 		bookTime,
 		personnel
 	FROM
 		book
 	WHERE
 		member_userId = #{member_userId}
 	GROUP BY number	
 	ORDER BY number DESC
 	</select>
 	
 	<!-- 예약 삭제 -->
 	<delete id="delete">
 	DELETE FROM book
 	WHERE number = #{number}
 	</delete>
 
 </mapper>