/* 글씨폰트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

img {
    vertical-align: middle;
}

a {
    text-decoration: none
}

li {
    list-style: none;
}



/* 예매 달력 */
#calendar h2 {
	font-size: 30px;
    margin: 80px 0 50px 0;
}

#calendar {
	width: 1200px;
    margin: 80px auto;
    text-align: center;
}

#calendar .Calendar { 
    text-align: center;
    margin: 0 auto; 
}

#calendar .Calendar thead td {
	width: 100px;
	height: 70px;
}

#calendar .Calendar thead tr:first-child td { 
	font-weight: bold;
	font-size: 20px;
}

#calendar .Calendar thead tr:last-child td {
    background-color: #030c33;
    color: white;
	font-size: 16px;
}

#calendar .Calendar tbody tr td {
	width: 100px;
	height: 100px;
	border: 1px solid #eee;
}        

#calendar .Calendar tbody tr td p {
	margin: 0 auto;
	margin-bottom: 10px;
}

#calendar .Calendar tbody tr td button {
	width: 80px;
	height: 30px;
	border-radius: 20px;
	border: 1px solid #030c33;
	font-size: 12px;
	color: #030c33;
}

#calendar .Calendar tbody tr td button:hover {
	border: 1px solid #030c33;
	color: #fff;
	background: #030c33;
}

#calendar .pastDay { 
	background-color: lightgray;
	pointer-events : none;
}



#calendar .choiceDay, .today.choiceDay{            
    background-color: #3E85EF;            
    color: #fff;
    cursor: pointer;
}








