/* 글씨폰트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    vertical-align: middle;
}

a {
    text-decoration: none
}

li {
    list-style: none;
}

ul {
	padding-left: 0;
}

/*로그인/회원가입/검색*/
#myheader {
    width: 1200px;
    height: 40px;
    margin: 0 auto;
    text-align: right;
}

#myheader p {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
}

#myheader p a {
    display: inline-block;

    font-size: 12px;
    color: #666;
    letter-spacing: -1px;
    line-height: 40px;
}

#myheader p.line {
    width: 1px;
    height: 10px;
    background: #999;

    margin: 2px 10px 0;
}

#myheader p img {
    padding-left: 5px;
    padding-right: 40px;
}

#myheader p:hover a {
    font-weight: bold;
}



/*메뉴*/
#wrap_nav {
    width: 100%;
    height: 70px;
    margin: 0 auto;

    border-bottom: 1px solid #ddd;
    background: #fff;
    
    position: sticky;
    top: 0;
    z-index: 999;
}

nav {
    width: 1200px;
    height: 70px;
    margin: 0 auto;
}

nav > ul > h2 {
    display: inline-block;
    vertical-align: middle;

    padding-left: 48px;
}

nav > ul> li {
    display: inline-block;
    vertical-align: middle;
    
    position: relative;
}

nav > ul> li > a {
    display: inline-block;
    width: 110px;
    height: 70px;

    font-size: 16px;
    color: #333;
    font-family:'Noto Sans KR', sans-serif;
    line-height: 68px;
    text-align: center;
    
    margin: 0 20px;
}

nav > ul> li > a:hover {
	font-weight: bold;
}

nav > ul > li:nth-child(2) {
    margin-left: 260px;
}

nav > ul > li:hover > a {
    color: #030c33;
    border-bottom: 2px solid #030c33;
}

nav > ul > li > ul.sub {
    width: 130px;
    height: 300px;
    
    position: absolute;
    top: 70px;
    left: 0;
    
    display: none;
}

nav > ul > li > ul.sub > li > a {
    display: inline-block;
    width: 150px;
    height: 50px;
    background: rgba(225,225,225,0.8);
    
    font-size: 14px;
    color: #333;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    line-height: 50px;
}

nav > ul > li > ul.sub > li > a:hover {
    background: #fff;
    color: #030c33;
    font-weight: bold;
}

nav > ul > li:hover ul.sub {
    display: block;
    z-index: 999;
}




