/*폰트*/
@import url(https://fonts.googleapis.com/earlyaccess/jejumyeongjo.css);

.jejumyeongjo * {
    font-family: 'Jeju Myeongjo', serif;
}

@import url(https://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

.nanummyeongjo * {
    font-family: 'Nanum Myeongjo', serif;
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 700;
    src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
    src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 300;
    src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
    src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
}

.nanumbarungothic * {
    font-family: 'NanumBarunGothic', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    vertical-align: middle;
}

a {
    text-decoration: none
}

li {
    list-style: none;
}

/*로그인/회원가입/검색*/
header {
    width: 1200px;
    height: 40px;
    margin: 0 auto;
    text-align: right;
}

header p {
    display: inline-block;
    vertical-align: middle;
}

header p a {
    display: inline-block;

    font-size: 12px;
    color: #666;
    letter-spacing: -1px;
    line-height: 40px;
}

header p.line {
    width: 1px;
    height: 10px;
    background: #999;

    margin: 2px 10px 0;
}

header p img {
    padding-left: 5px;
    padding-right: 40px;
}

header p:hover a {
    font-weight: bold;
}



/*메뉴*/
#wrap_nav {
    width: 100%;
    height: 70px;
    margin: 0 auto;

    border-bottom: 1px solid #ddd;
    background: #fff;
    
    position: sticky;
    top: 0;
    z-index: 999;
}

nav {
    width: 1200px;
    height: 70px;
    margin: 0 auto;
}

nav > ul > h2 {
    display: inline-block;
    vertical-align: middle;

    padding-left: 48px;
}

nav > ul> li {
    display: inline-block;
    vertical-align: middle;
    
    position: relative;
}

nav > ul> li > a {
    display: inline-block;
    width: 110px;
    height: 70px;

    font-size: 16px;
    color: #333;
    font-family: 'NanumBarunGothic';
    line-height: 68px;
    font-weight: bold;
    text-align: center;

    margin: 0 20px;
}

nav > ul > li:nth-child(2) {
    margin-left: 260px;
}

nav > ul > li:hover > a {
    color: #030c33;
    border-bottom: 2px solid #030c33;
}

nav > ul > li > ul.sub {
    width: 130px;
    height: 300px;
    
    position: absolute;
    top: 70px;
    left: 0;
    
    display: none;
}

nav > ul > li > ul.sub > li > a {
    display: inline-block;
    width: 150px;
    height: 50px;
    background: rgba(225,225,225,0.8);
    
    font-size: 14px;
    color: #333;
    font-family: 'NanumBarunGothic';
    text-align: center;
    line-height: 50px;
}

nav > ul > li > ul.sub > li > a:hover {
    background: #fff;
    color: #030c33;
    font-weight: bold;
}

nav > ul > li:hover ul.sub {
    display: block;
    z-index: 999;
}
/*공통메뉴끝*/



/*메인*/
main {
    width: 1200px;
    height: 670px;
    background: url(../images/program_main_bg.jpg);
    margin: 0 auto;
}

main p.txt1 {
    font-size: 16px;
    color: #fff;
    font-family: 'NanumBarunGothic';
    font-weight: bold;
    
    padding-top: 200px;
    padding-left: 110px;
}

main p.txt1 span {
    display: inline-block;
    width: 310px;
    height: 1px;
    background: #fff;
    
    margin-left: 30px;
    vertical-align: middle;
}

main h2 {
    font-size: 50px;
    color: #fff;
    font-family: 'NanumBarunGothic';
    
    padding-left: 110px;
    padding-top: 30px;
}

main h2 b {
    font-weight: 300;
}

main p.txt2 {
    font-size: 16px;
    color: #fff;
    font-family: 'NanumBarunGothic';
    
    padding-top: 55px;
    padding-left: 110px;
}


/*중간메뉴*/
#under_nav {
    width: 1200px;
    height: 160px;
    margin: 0 auto;
    text-align: center;
}

#under_nav ul li {
    display: inline-block;
    margin: 70px 30px;
}

#under_nav ul li a {
    font-size: 18px;
    color: #999;
    font-family: 'NanumBarunGothic';
    
    padding: 20px 35px 16px;
    border: 1px solid #999;
    border-radius: 40px;
}

#under_nav ul li:nth-child(1) a {
    color: #fff;
    background: #030c33;
    border: 0;
}



/*본문*/
/*오늘의 프로그램*/
#table {
    width: 1200px;
    margin: 100px auto 0;
    text-align: center;
}

#table h2 {
    font-size: 28px;
    color: #333;
    font-family: 'NanumBarunGothic';
}

#table table {
    border-collapse: collapse;
    margin: 50px auto;
}

#table table tr td {
    width: 250px;
    height: 60px;
    border: 1px solid #ddd;
    
    font-size: 14px;
    color: #666;
    font-family: 'NanumBarunGothic';
}

#table table tr.first td {
    background: #f8f8f8;
    color: #333;
    font-weight: bold;
}

#table table tr td a {
    display: inline-block;
    width: 90px;
    height: 30px;
    background: #030c33;
    border-radius: 20px;
    
    font-size: 14px;
    color: #fff;
    font-family: 'NanumBarunGothic';
    line-height: 30px;
}




/*전체 프로그램*/
#program {
    width: 1200px;
    margin: 150px auto;
    
    position: relative;
}

#program > h2 {
    font-size: 28px;
    color: #333;
    font-family: 'NanumBarunGothic';
    text-align: center;
    
    padding-bottom: 50px;
}

#program p.line {
    width: 1px;
    height: 2290px;
    background: #ddd;
    
    position: absolute;
    top: 140px;
    left: 130px;
}

#program ul {
    width: 600px;
    height: 290px;
    
    margin: 60px 122px;
    
    position: relative;
}

#program ul li {
    display: inline-block;
    vertical-align: top;
}

#program ul li:nth-child(1) {
    position: absolute;
    top: 40px;
    left: 1px;
}

#program ul li:nth-child(2) {
    position: absolute;
    top: 40px;
    left: 45px;
}

#program ul li:nth-child(2) h2 {
    font-size: 23px;
    color: #333;
    font-family: 'NanumBarunGothic';
}

#program ul li:nth-child(2) p {
    font-size: 13px;
    color: #666;
    font-family: 'NanumBarunGothic';
    line-height: 1.3;
    
    padding-top: 20px;
}

#program ul li:nth-child(2) h5 {
    font-size: 13px;
    color: #333;
    font-family: 'NanumBarunGothic';
    line-height: 1.8;
    
    padding-top: 30px;
}

#program ul li:nth-child(2) h5 span {
    color: #666;
    font-weight: normal;
    
    padding-left: 20px;
}

#program ul li:nth-child(3) {
    width: 260px;
    height: 290px;
    background: orange;
    
    position: absolute;
    top: 0;
    right: 0;
}

#program input {
    position: absolute;
    top: 0;
    right: 0;
}




/*공통*/
/*카피라이트*/
#wrap_footer {
    width: 100%;
    height: 260px;
    background: #030c33;
    margin: 0 auto;
}

footer {
    width: 1200px;
    height: 260px;
    background: #030c33;
    margin: 0 auto;
}

footer p.logo {
    display: inline-block;
    width: 65px;
    height: 45px;
    
    margin: 70px 0 0 75px; 
}

footer ul {
    display: inline-block;
    vertical-align: top;
}

footer ul.left {
    margin-top: 70px;
    margin-left: 40px;
}

footer ul.left li {
    font-size: 13px;
    color: #999;
    font-family: 'NanumBarunGothic';
    line-height: 1.6;
}

footer ul.left li a {
    font-size: 13px;
    color: #999;
    font-family: 'NanumBarunGothic';
    line-height: 1.6;
}

footer ul.left li span {
    display: inline-block;
    width: 1px;
    height: 10px;
    background: #999;
    
    margin: 0 20px;
}

footer ul.left li:nth-child(2) {
    padding-top: 20px;
}

footer ul.left li a:hover {
    font-weight: bold;
}

footer ul.right {
    display: inline-block;
    vertical-align: top;
    
    margin: 70px 0 0 180px;
}

footer ul.right select {
    width: 265px;
    height: 35px;
    border: 1px solid #999;
    background: #030c33;
    
    font-size: 13px;
    color: #999;
    font-family: 'NanumBarunGothic';
    
    padding-left: 10px;
}

footer ul.right li:nth-child(2) p {
    display: inline-block;
    vertical-align: middle;
}

footer ul.right li:nth-child(2) {
    text-align: right;
    
    padding-top: 35px;
}




























